<br>
<br>
<br>
<p></p>
<div class="row">
    <div *ngFor="let video of videos;i as index" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow vh-50" style="width: 18rem; height: 19rem;">
            <div class="card-body d-flex flex-column">
                <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
                <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">
                    <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank" style="padding-top: 20px;">{{video.snippet.title}}
                    <br></a></h5>
                </div>
            </div>
            <a id="fav" *ngIf="check()" class="btn btn-primary" (click)="add(video.id)">Add To Favourites</a>
        </div>
    </div>
</div>
 