<br>
<br>
<br>

<p></p>
<div class="row">
    <div *ngFor="let category of categories" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-1 shadow vh-50">      
            <div class="card-body text-center">
                <h6 class="card-title mb-0">
                {{category.snippet.title}}
                </h6>
                <button type="submit" class="btn-primary" (click)="getVideos(category.id)">Get Videos</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="category">
    <div *ngFor="let video of videos" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow vh-50" style="padding-left:20px; width: 18rem; height: 19rem;">
            <div class="card-body">
                <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
                <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">
                    <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank" style="padding-top: 20px;">{{video.snippet.title}}
                    </a></h5>
                </div>
            </div>
            <button type="submit" class="btn btn-primary align-center" (click)="AddToFavourite(video.id)">Add to Favourite</button>
        </div>
    </div>
</div>

