<div class="bgimg fixed-top">
  <nav id="navigation" class="navbar navbar-expand-md navbar-dark bg-dark" data-target="#menu">
      <a [routerLink]='[""]' class="navbar-brand" (click)="show()">ViewTube</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>
     <div class="collapse navbar-collapse text-center" id="menu">
      <ul class="navbar-nav ml-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="!(LoginStatus$ | async) as LoginStatus" >
          <a *ngIf="LoginStatus" [routerLink]='["/register"]' class="nav-link">Register</a>
        </li>  
        <li class="nav-item" *ngIf="!(LoginStatus$ | async) as LoginStatus" style="padding-left:30px;">
          <a href="/login"  routerLink="login" class="nav-link">Log In</a>
        </li>  
        <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus" style="padding-left:30px;">
          <a [routerLink]='[""]' *ngIf="LoginStatus" class="nav-link">Home</a>
        </li>  
        <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus" style="padding-left:30px;">
          <a [routerLink]='["/category"]' *ngIf="LoginStatus" class="nav-link">Categories</a>
        </li>  
        <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus" style="padding-left:30px;">
          <a [routerLink]='["/favourites"]' *ngIf="LoginStatus" class="nav-link">Favourites</a>
        </li>  
        <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus" style="padding-left:30px;">
          <a [routerLink]='["/search"]' *ngIf="LoginStatus" class="nav-link">Search</a>
        </li>  
        <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus" style="padding-left:30px;">
          <a (click)="Logout()" *ngIf="LoginStatus" class="nav-link">Log Out</a>
        </li>
      </ul>
     </div>
  </nav>
</div>
