ul.topnav {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(20, 137, 206);
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  