<div id = "Login">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="Login()">
        <div class="row">
          <div class="col-25">
            <label>User Id</label>
          </div>
          <div class="col-75">
            <input formControlName="uid" type="text"  placeholder="Enter user id">
          </div>
        </div>    
        <div class="row">
          <div class="col-25">
            <label>Password</label>
          </div>
          <div class="col-75">
            <input formControlName="pass" type="password" placeholder="Enter password">
          </div>
        </div>
        <div class="row" style="text-align: center; padding: 30px;">
          <input class="btn" type="submit" value="Log In" [disabled]="!form.valid">
        </div>
      </form>    
    </div>
</div>

