
/* css for header div to make it fixed */
#header{
    left: 0;
    width: 100%;
    position: fixed;
    overflow: hidden; 
  }
  
  /* css for all header items */
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 60px;
    background-color: gray;
    text-align: center;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
    /* ul.topnav li a.active {background-color: #4CAF50;} */
    
    ul.topnav li.right {float: right;}
    
    @media screen and (max-width: 600px) {
      ul.topnav li.right, 
      ul.topnav li {float: none;
      
      }
      
      
    }
    