<app-navbar></app-navbar>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<br>
<br>
<footer class="bg-dark text-white">
  <div class="footer">
    <div class="container" id="copy">
      &copy; Copyright 2020
    </div>
  </div>
</footer>