<br>
<br>
<br>

<div class="row">
    <div *ngFor="let video of favs" class="col-xl-3 col-md-6 mb-4"> 
        <mat-card class="example-card" style="background-color: bisque;">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"><h4>Favourite</h4></div>
            </mat-card-header>
                <youtube-player videoId="{{video.videoId}}" [height]="300" [width]="320"></youtube-player> 
            <mat-card-actions>
            <button class="btn btn-danger" (click)="Remove(video.videoId)">Remove from Favourites</button>
            </mat-card-actions>
        </mat-card>
    </div>       
</div>