<br>
<br>
<br>
<p></p>
<div class="container " id="search">
    <div class="row">
        <div class="col-3"></div>
        <div class="input-group mb-3 col-lg-6 col-md-6 col-sm-4 col-xs-2">
            <input id="serachInput" type="text" class="form-control" [(ngModel)]="search" placeholder="Enter your text to search" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="searchVideo()">Search</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div *ngFor="let video of videos" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow vh-50" style="width: 18rem; height: 19rem;">
            <div class="card-body">
                <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank">
                <img [src]="video.snippet.thumbnails.medium.url" class="card-img-top" alt="..."></a>
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">
                    <a href="https://www.youtube.com/watch?v={{video.id}}" target="_blank" style="padding-top: 20px;">{{video.snippet.title}}
                    </a></h5>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="AddToFavourite(video.id)">Add to Favourite</button>
        </div>
    </div>
</div>
