<div id = "Register">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="Register()">
        <div class="row">
          <div class="col-25">
            <label>First Name</label>
          </div>
          <div class="col-75">
            <input formControlName="firstName" type="text"  placeholder="Enter First Name">
          </div>
        </div>
            
        <div class="row">
          <div class="col-25">
            <label>Last Name</label>
          </div>
          <div class="col-75">
            <input formControlName="lastName" type="text" placeholder="Enter Last Name">
          </div>
        </div>

        <div class="row">
            <div class="col-25">
              <label>Email Id</label>
            </div>
            <div class="col-75">
              <input #user formControlName="email" type="text" placeholder="Enter Email Id" [ngModel]="input1" (ngModelChange)="getChange($event)">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
              <label>User Id</label>
            </div>
            <div class="col-75">
              <input formControlName="uid" type="text" placeholder="User Id" [ngModel]="input2">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
              <label>Password</label>
            </div>
            <div class="col-75">
              <input formControlName="pass" type="password" placeholder="Enter Password">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
              <label>Confirm Password</label>
            </div>
            <div class="col-75">
              <input formControlName="cpass" type="password" placeholder="Confirm Password">
            </div>
        </div>

        <div class="row" style="text-align: center; padding: 30px;">
          <input class="btn" type="submit" value="Register" [disabled]="!form.valid">
        </div>
      </form>    
    </div>
  </div>